@use "../../_var" as vars;

footer {
  background-color: rgb(10, 19, 29);

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
    height: 144px;
    padding-inline: 25px;

    @media (max-width: vars.$breakpoint-sm) {
      height: 86px;
    }

    .icon {
      .sakura_icon {
        height: 44px;

        &:hover {
          cursor: pointer;
        }

        @media (max-width: vars.$breakpoint-md) {
          display: none;
        }
      }

      .sakura-icon-mobile {
        display: none;
        height: 44px;
        width: 44px;

        @media (max-width: vars.$breakpoint-xs) {
          height: 35px;
          width: 35px;
        }

        &:hover {
          cursor: pointer;
        }

        @media (max-width: vars.$breakpoint-md) {
          display: block;
        }
      }
    }

    .imprint-privacy-policy {
      display: flex;
      gap: 10px;
      color: white;
      font-size: 14px;

      @media (max-width: vars.$breakpoint-xs) {
        flex-direction: column;
      }

      a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .social-media {
      display: flex;
      gap: 10px;

      .social-icon {
        height: 40px;
        width: 40px;

        @media (max-width: vars.$breakpoint-xs) {
          height: 25px;
          width: 25px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
