@use "../../_var" as vars;

.our-menu {
  background-image: url("/assets/img/3_section_our_menu/JPG/section_our_menu_bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 120px;
  gap: 64px;

  .heading {
    font-size: 80px;
    font-weight: bold;
    color: #9f0908;
    text-transform: uppercase;

    @media (max-width: vars.$breakpoint-md) {
      font-size: 64px;
    }
    @media (max-width: vars.$breakpoint-sm) {
      font-size: 48px;
    }

    @media (max-width: vars.$breakpoint-xs) {
      font-size: 40px;
    }

    @media (max-width: vars.$breakpoint-xxs) {
      font-size: 32px;
    }
  }

  .menu:nth-of-type(2n) {
    flex-direction: row-reverse;

    @media (max-width: vars.$breakpoint-sm) {
      flex-direction: column;
    }
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 250px;
    padding-inline: 25px;

    @media (max-width: vars.$breakpoint-lg) {
      gap: 150px;
    }

    @media (max-width: vars.$breakpoint-md) {
      gap: 50px;
    }

    @media (max-width: vars.$breakpoint-sm) {
      flex-direction: column;
    }

    @media (max-width: vars.$breakpoint-xs) {
      gap: 32px;
    }

    & img {
      height: 352px;
      width: 352px;

      @media (max-width: vars.$breakpoint-lg) {
        height: 300px;
        width: 300px;
      }

      @media (max-width: vars.$breakpoint-md) {
        height: 250px;
        width: 250px;
      }

      @media (max-width: vars.$breakpoint-sm) {
        height: 352px;
        width: 352px;
      }

      @media (max-width: vars.$breakpoint-xs) {
        height: 90%;
        width: 90%;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 16px;
      max-width: 450px;
      width: auto;
      flex-grow: 1;

      @media (max-width: vars.$breakpoint-md) {
        max-width: 100%;
        width: 100%;
      }

      .dish {
        font-family: "Economica", sans-serif;
        font-weight: bold;
        font-size: 56px;

        @media (max-width: vars.$breakpoint-lg) {
          font-size: 48px;
        }

        @media (max-width: vars.$breakpoint-md) {
          font-size: 40px;
        }

        @media (max-width: vars.$breakpoint-xs) {
          font-size: 32px;
        }
      }

      .varieties {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        gap: 8px;

        .sort {
          display: flex;
          justify-content: space-between;

          .name,
          .price {
            font-family: "Raleway", sans-serif;
            font-size: 32px;
            font-weight: bold;
            text-transform: uppercase;
            color: #675e54;

            @media (max-width: vars.$breakpoint-xs) {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
