<section class="our-menu">
  <h2 id="MENU" class="heading">Our menu</h2>
  @for (menu of menuList; track menu.id) {
  <div class="menu">
    <img [src]="menu.image" alt="Tonkotsu Ramen" />
    <div class="info">
      <h3 class="dish">{{ menuList[menu.id].name }}</h3>
      <div class="varieties">
        @for ( item of menuList[menu.id].items; track item; let idx = $index ) {
        <div class="sort">
          <span class="name">{{ menuList[menu.id].items[idx].type }}</span>
          <span class="price">{{ menuList[menu.id].items[idx].price }}</span>
        </div>
        }
      </div>
    </div>
  </div>
  }
</section>
