@use "../../../../var" as vars;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  height: 112px;
  padding-inline: 25px;

  .sakura-icon {
    height: 64px;
    width: 64px;

    &:hover {
      animation: rotate 4s linear infinite;
    }

    @media (max-width: vars.$breakpoint-xs) {
      height: 40px;
      width: 40px;
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

    .item {
      color: white;

      &:hover {
        cursor: pointer;
        color: rgb(128, 128, 128);
      }

      @media (max-width: vars.$breakpoint-sm) {
        display: none;
      }
    }

    .tel {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border: 2px solid white;
      border-radius: 8px;
      padding: 5px 10px;
      background-color: rgb(158, 8, 8);
      transition: all 0.3s ease-in-out;

      .number {
        font-size: 20px;
        color: white;

        @media (max-width: vars.$breakpoint-xs) {
          font-size: 16px;
        }
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }

      .phone-icon {
        height: 24px;
        width: 24px;
      }
    }
  }
}
