<header>
  <nav class="nav">
    <img
      class="sakura-icon"
      src="./assets/img/1_hero/PNG/sakura_logo.png"
      alt="sakura-icon"
    />
    <div class="menu">
      <a class="item" href="#MENU">MENU</a>
      <a class="item" href="#LOCATIONS">LOCATIONS</a>
      <a class="item" href="#ABOUT">ABOUT</a>
      <div class="tel">
        <img
          class="phone-icon"
          src="./assets/img/1_hero/PNG/phone.png"
          alt="phone"
        />
        <a class="number" href="tel:+0176 54564534">0176 54564534</a>
      </div>
    </div>
  </nav>
</header>
